#root {
  
}

@keyframes invalid-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

label.invalid-label:after {
    content: " (" attr(data-help) ")";
    font-size: small;
    animation: invalid-help 20s;
}

.grid-cards {
    grid-template-columns: var(--grid-cards);
}

/* .game-card {
    aspect-ratio: 1/2;
} */